.primary {
    background-color: #f0f0f0 !important;
}
h1, h3, h5{
    font-family: 'Anton', sans-serif;
}
.design-circle {
    background-color: #e6563b !important;
}

.develop-circle {
    background-color: #eb9d3a !important;
}

.support-circle {
    background-color: #7cb06c !important;
}

.host-circle {
    background-color: #00aba9 !important;
}
.dot-large {
    height: 105px;
    width: 105px;
    border-radius: 50%;
    border: 6px solid white;
    color: white;
    font-size: 20px;
    padding: 0;
    text-align: center;
    font-family: 'Anton', sans-serif;
    box-sizing: border-box;
}

.dot-small {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
    padding: 0;
    font-size: 10px;
    font-family: 'Anton', sans-serif;
}

.selected-works{
    font-family: 'Abel', sans-serif;
    font-size: 18px;
}

.selected-works img{
    box-sizing: border-box;
    border: 20px #e6e6e6 solid;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}
.the-last{
    float: left;
    width: 50px;
    height: 50px;
    background-color: #f0f0f0;
}

.abel-font {
    font-family: 'Abel', sans-serif;
}

.logo-design {
    height: 105px;
    width: 105px;
}

.nav-background {
    background-color: white;
    height: 55px;

}

ul {
    list-style: none;
}


@media screen and (max-width: 576px) {
  .logo-design {
      position: absolute;
      left: calc(50% - 52px);
      top:20px;
  }
    .codeup-header {
        position: relative;
        top: 85px;
        display: flex;
        justify-content: center;

    }
    ul {
        position: relative;
        top: 100px;
        display: flex;
        justify-content: space-around;
        padding: 0;
    }

    .byline {
        margin-top: 200px;
    }

    .big-dots {
        max-width: 300px;
        margin-bottom: 100px;
    }

    hr {
        display: none;
    }

    .selected-title {
        display: flex;
        justify-content: center;
    }

}

@media screen and (min-width:577px) and (max-width: 768px) {
    .logo-design {
        position: absolute;
        left: calc(50% - 52px);
        top: 20px;
    }
    .codeup-header {
        position: relative;
        top: 85px;
        display: flex;
        justify-content: center;
    }

    .byline {
        margin-top: 125px;
        width: 100%;
    }

    ul {
        position: relative;
        top: -40px;
        display: flex;
        justify-content: space-around;
        padding: 0;
    }

    hr {
        width: 70%;
    }

    .big-dots {
        padding: 0;
    }


}

@media screen and (min-width:769px) and (max-width: 992px) {
    .nav-background {
       position: relative;
    }

    ul {
        position: absolute ;
        left: calc(70%);
        top: 15px;
        padding-left: 0;
    }
    li{
        padding: 0 10px;
    }

    .logo-design {
        position: absolute;
        left: 30px;
        top: -25px;
    }
    .codeup-header {
        position: absolute;
        left: 125px;
    }
}

@media screen and (min-width: 993px) {
    .nav-background {
        position: relative;
    }

    ul {
        position: absolute ;
        left: calc(70%);
        top: 15px;
        padding-left: 0;
    }
    li{
        padding: 0 10px;
    }

    .logo-design {
        position: absolute;
        /*left: 30px;*/
        left: calc(12%);
        top: -25px;
    }
    .codeup-header {
        position: absolute;
        /*left: 125px;*/
        left: calc(20%);
    }

}