.primary {
    background-color: #f0f0f0 !important;
}
h1, h3{
    font-family: 'Anton', sans-serif;
}
.design-circle {
    background-color: #e6563b !important;
}

.develop-circle {
    background-color: #eb9d3a !important;
}

.support-circle {
    background-color: #7cb06c !important;
}

.host-circle {
    background-color: #00aba9 !important;
}
.dot-large {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 12px solid white;
    color: white;
    font-size: 30px;
    padding: 0;
    text-align: center;
    font-family: 'Anton', sans-serif;
    box-sizing: border-box;
}

.dot-small {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
    padding: 0;
    font-size: 10px;
    font-family: 'Anton', sans-serif;
}

.selected-works{
    /*border: none;*/
    font-family: 'Abel', sans-serif;
    font-size: 18px;
}

.selected-works img{
    box-sizing: border-box;
    border: 20px #e6e6e6 solid;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}
.the-last{
    width: 25px;
    height: 25px;
}